@import '../../styles/variables';

@media (max-width: $mugen-breakpoint-large) {
	.karaLineButton {
		width: 2em;
		height: 3em;
		font-size: 1.25em;

		&.showPlaylistCommands {
			width: 2.75em;
		}
	}
}

.karaLineButton.yellow {
	color: map-get($mugen-colors, 'yellow');
}

.currentUpvote {
	color: orangered;
}

button.on {
	background: #3c5c00;
}
button.off {
	background: #880500;
}
