@import '../variables';

.start-page .wrapper.setup {
	font-weight: 300;

	grid-template-columns: 200px auto;
	grid-template-areas:
		'logo title aside'
		'other main main';

	@media (max-width: $mugen-breakpoint-large) {
		grid-template-columns: auto 200px;
		grid-template-rows: auto auto 100%;
		grid-template-areas:
			'aside logo'
			'title logo'
			'main main';
	}

	@media (max-width: $mugen-breakpoint-small) {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			'logo'
			'aside'
			'title'
			'main';
	}

	.main {
		flex-direction: column;
		max-width: 1000px;
	}

	$block-border-width: 4px solid;

	.step {
		h1 {
			font-size: 1.75em;
			margin: 0.5em 0;
		}
		h2 {
			font-size: 1.5em;
			margin: 0.5em 0;
		}
		h3 {
			font-size: 1.25em;
			margin: 0.5em 0;
		}
		p {
			font-size: 1em;
			margin: 0.5em 0;
		}
		ul {
			margin: 0.5em 0;
		}
		* {
			color: inherit;
		}
		a {
			cursor: pointer;
		}

		.actions {
			padding: 0;
			margin: 0.5em 0;
			list-style: none;
			display: flex;
			flex-direction: row;
			button {
				cursor: pointer;
				border: 2px solid white;
				border-radius: 0.5em;
				padding: 0.5em 1em;
				text-transform: uppercase;
				font-weight: bold;
				background: none;
				outline: none;
				transition: background-color 150ms linear;
				&.in {
					background: #ffffff33;
				}
				&.on {
					background: #3c5c00;
					font-weight: bold;
				}
				&.off {
					background: #880500;
					font-weight: bold;
				}
			}
		}

		blockquote {
			margin: 0.5em 0;
			border-left: $block-border-width #880500;
			padding: 0.5em 1em 1em;
			background: #0000004d;
		}

		.input-group {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			margin: 0.5em 0;
			border-left: $block-border-width white;
			padding: 0.5em 1em;
			background: #0000004d;

			> p {
				width: 100%;
			}

			.input-control {
				margin: 1em 0;
				label {
					font-size: 0.8em;
					font-weight: normal;
					margin: 0;
					padding: 0;
					color: #ffffffb3;
				}
				.input-field {
					width: 100%;
					font-size: 1.2em;
					background: none;
					border: none;
					border-bottom: 1px solid white;
					padding: 0.2em 0;
					margin: 0;
					color: white;
					&:focus {
						background: none;
					}
				}
			}
		}

		.intro {
			em {
				color: orangered;
				font-weight: normal;
			}
		}

		&.step-2.step-local {
			.input-control {
				width: 30%;
				margin-right: 3.33%;
			}
		}

		&.step-2.step-online {
			.input-control {
				width: 47%;
				margin-right: 3%;
			}
		}

		&.step-3 {
			.input-group {
				border-left-color: #880500;
			}
			.actions {
				justify-content: flex-end;
				button {
					background: #880500;
				}
			}
		}

		&.step-repo {
			.input-group .input-control {
				width: 100%;
			}
		}

		&.step-choice {
			.actions {
				justify-content: flex-end;
			}
		}
	}

	.error {
		font-weight: bold;
		font-size: large;
		color: orangered;
		margin: 0.5em;
	}

	.text-danger {
		color: tomato;
	}

	.step.step-choice.loading {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
		font-size: 20px;
	}

	.ip--logo {
		margin: 1em;
		height: 35vh;
	}

	.ip--top {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ip--progress-bar-container {
		display: initial;
		width: 75%;
		max-width: 50em;
		height: 25px;
		background-color: #505050;
		margin-top: 1em;
		border: forestgreen solid;
		border-radius: 1em;
	}

	.ip--progress-bar-container > div.ip--progress-bar {
		height: 100%;
		width: 0;
		background-color: forestgreen;
		transition: width 50ms linear;
		color: white;
		border-radius: 1em;
	}

	.ip--progress-bar-container > div.ip--progress-text {
		position: relative;
		bottom: 115%;
	}

	.ip--nanami {
		margin: 1em;
		width: 50%;
		max-width: 40em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ip--nanami > img {
		height: 100px;
		float: left;
	}
	/*-----------------------------------------------------------------------------------*/

	@keyframes pulse {
		0% {
			transform: scale(0.95);
			opacity: 0.5;
		}
		50% {
			transform: scale(1);
			opacity: 1;
		}
		100% {
			transform: scale(0.95);
			opacity: 0.5;
		}
	}

	.ip--logo {
		animation: pulse 3s infinite ease-in-out;
	}
}
