@import '../variables';

.dropdown-menu {
	background-color: $mugen-select-background;
	border: $mugen-select-border;
	position: absolute;
	list-style: none;
	padding: 0;
	z-index: 60;
}

.dropdown-menu > li > a {
	display: inline-block;
	width: 100%;
	padding: 0.2rem 0.5rem;
	color: #eee;
	// Ant Design overrides
	transition: none;
	text-decoration: none;
}

.dropdown-menu > li > a i {
	margin-right: 0.5em;
}
.dropdown-menu > li:hover > a {
	background-color: $mugen-select-focus;
}
