* {
	forced-color-adjust: none;
}

#root {
	height: 100%;
}

.dynamic-delete-button {
	cursor: pointer;
	position: relative;
	top: 4px;
	font-size: 24px;
	color: #999;
	transition: all 0.3s;
}
.dynamic-delete-button:hover {
	color: #777;
}
.dynamic-delete-button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

select {
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	outline: none;
	padding: 4px 5px 5px;
}
