@import '../../styles/variables';

.menu-bar {
	display: flex;
	align-items: center;
	z-index: 1000;
	> a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 0.25em;
		cursor: pointer;
		transition: color ease-out 200ms;
		text-decoration: none;
		color: unset;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
		> i {
			margin: 0 1em;
		}
		@each $name, $color in $mugen-colors {
			@if $name != 'black' {
				&.#{$name} {
					&:hover,
					&:focus {
						color: saturate(lighten($color, 25), 10);
					}
					> i {
						color: saturate(lighten($color, 10), 20);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mugen-breakpoint-large) {
	.menu-bar {
		display: none;
	}
}
